<ion-view view-title="{{ 'LABEL.CONTACT' | translate }}">
    <ion-content class="padding">
        <!-- image (responsive width) -->
        <div class="row responsive-sm">
            <img src="./img/init.png" alt="monastery" width="100%">

            <h2>{{'LABEL.CONTACT_NAME' | translate}}</h2>
            {{'LABEL.POSTAL_CODE' | translate}} {{'LABEL.CITY' | translate}}
            <p>
                <br>
                <a href="tel:0041-61-735-1111">
                    {{'LABEL.TELEPHONE' | translate}}: +41 (0)61 735 11 11
                </a>
                <br>
                <a href="#" onclick="window.location='mailto:info@kloster-mariastein.ch'; return false;"
                   class="noHighlight">
                    {{'LABEL.EMAIL' | translate}}: info@kloster-mariastein.ch
                </a>
            </p>

            <p>
                <a href="https://www.google.com/maps/preview/@47.475243,7.491205,15z">
                    {{'LABEL.MAPS' | translate}}
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>