<ion-view>
    <ion-nav-title>{{detail.doc.title}}</ion-nav-title>

    <ion-content delegate-handle="scrollMain">

        <kms-spinner ng-hide="detail.isReady()"></kms-spinner>

        <a class="item item-list-detail detail-image-slider" ng-if="detail.isReady() && detail.doc.image.length > 1">
            <ion-scroll direction="x">
                <kms-image ng-repeat="image in detail.doc.image" image-id="image" ng-click="detail.showImages($index)"
                           class="image-list-thumb">
                </kms-image>
            </ion-scroll>
        </a>

        <div class="detail-single-image">
            <kms-image image-id="detail.doc.image[0]" class="image-list-thumb"
                       ng-if="detail.isReady() && detail.doc.image.length === 1"
                       ng-click="detail.showImages($index)"></kms-image>
        </div>

        <div class="padding" ng-if="detail.isReady()">
            <h3>{{detail.doc.title}}</h3>

            <ion-scroll class="padding-bottom-45" ng-if="detail.settings.zooming && detail.enableZoom" zooming="{{detail.settings.zooming}}"
                        min-zoom="{{detail.zoomMin}}" direction="xy" style="width: 100%;"
                        delegate-handle="scrollHandle1" on-double-tap="detail.zoom(1)"
                        ng-style="{height: detail.hgt2+ 'px'}">

                <p>
                    <span ng-if="!detail.isNews()" ng-bind-html="detail.doc.teaser"></span>
                    <br/>
                    <br/>
                    <span ng-if="detail.more || detail.isNews()" ng-bind-html="detail.doc.content"></span>
                </p>
                <!--<p ng-if="!detail.isNews()" ng-bind-html="detail.doc.teaser"></p>-->
                <!--<p ng-if="detail.more || detail.isNews()" ng-bind-html="detail.doc.content"></p>-->

                <button ng-if="!detail.more && !detail.isNews()" class="button button-clear button-positive"
                        on-tap="detail.showMore()">
                    {{'LABEL.MORE'|translate}}
                </button>
                <button ng-if="detail.more && !detail.isNews()" class="button button-clear button-positive"
                        on-tap="detail.showLess()">
                    {{'LABEL.LESS'|translate}}
                </button>
            </ion-scroll>

            <div class="padding-bottom-45" ng-if="!detail.settings.zooming || !detail.enableZoom" on-tap="detail.scrollTop()">

                <p>
                    <span ng-if="!detail.isNews()" ng-bind-html="detail.doc.teaser"></span>
                    <br/>
                    <br/>
                    <span ng-if="detail.more || detail.isNews()" ng-bind-html="detail.doc.content"></span>
                </p>
                <!--<p ng-if="!detail.isNews()" ng-bind-html="detail.doc.teaser"></p>-->
                <!--<p ng-if="detail.more || detail.isNews()" ng-bind-html="detail.doc.content"></p>-->

                <button ng-if="!detail.more && !detail.isNews()" class="button button-clear button-positive"
                        on-tap="detail.showMore()">
                    {{'LABEL.MORE'|translate}}
                </button>
                <button ng-if="detail.more && !detail.isNews()" class="button button-clear button-positive"
                        on-tap="detail.showLess()">
                    {{'LABEL.LESS'|translate}}
                </button>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="footer-button" ng-if="!detail.isNews()">
        <kms-scan-button></kms-scan-button>
    </ion-footer-bar>
</ion-view>
