<ion-view view-title="{{ 'LABEL.DETAIL' | translate }}">
    <ion-nav-bar class="bar-default">
        <ion-nav-back-button></ion-nav-back-button>

        <!--<ion-nav-buttons side="right">-->
        <!--<kms-nav-menu-button></kms-nav-menu-button>-->
        <!--</ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content>

        <p>{{detail.item.data.Name}}</p>

        <p>{{detail.item.data.Text}}</p>
        
    </ion-content>
    <ion-footer-bar class="footer-button">
        <kms-scan-button></kms-scan-button>
    </ion-footer-bar>
</ion-view>
