<ion-view view-title="{{ 'LABEL.HISTORY' | translate }}">
    <ion-content>

        <kms-spinner ng-hide="history.isReady()"></kms-spinner>

        <ion-list ng-if="history.isReady()">
            <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="doc in history.pages" ui-sref="menu.detail({uid: doc.uid})">
                <div class="kms-item-thumbnail-left">
                    <kms-image image-id="doc.image[0]"></kms-image>
                </div>
                <h2>{{doc.title}}</h2>
                <p>{{doc.visitedAt.format('DD.MM.YYYY HH:mm')}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list> 

    </ion-content>
</ion-view>
