<ion-view view-title="{{ 'LABEL.MAP' | translate }}">
    <ion-content>

        <kms-spinner ng-hide="map.isReady()"></kms-spinner>
        <div ng-if="map.isReady()">

            <div class="list map-list" ng-if="map.rooms.length > 0">
                <a ng-repeat="item in map.rooms | orderBy:'position'" href="#/menu/mapPage/{{item.uid}}" class="item item-thumbnail-left">
                    <img src="{{item.previewImageUid}}"/>

                    <h2>{{item.title}}</h2>
                    <span class="badge badge-positive">{{item.scannedObjects}} / {{item.amount}}</span>
                </a>
            </div>

            <kms-info-card message="MESSAGE.NO_CONTENT" ng-if="map.rooms.length === 0">
                <kms-update-content-button></kms-update-content-button>
            </kms-info-card>

        </div>

    </ion-content>
</ion-view>
