<ion-view view-title="{{ 'LABEL.MENU' | translate }}">
    <ion-content>
        <ion-list>

            <ion-item class="item-icon-right" type="item-text-wrap" href="#/welcome">
                <h2>{{ 'LABEL.WELCOME' | translate }}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" type="item-text-wrap" href="#/history">
                <h2>{{ 'LABEL.HISTORY' | translate }}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" type="item-text-wrap" href="#/news">
                <h2>{{ 'LABEL.NEWS' | translate }}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- SETTINGS -->
            <ion-item class="item item-devider">
                {{ 'LABEL.SETTINGS' | translate }}
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
