<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">{{ 'LABEL.MENU' | translate }}</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/scan">
                    <i class="icon ion-qr-scanner"></i>
                    {{ 'LABEL.SCAN' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/history">
                    <i class="icon ion-clock"></i>
                    {{ 'LABEL.HISTORY' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/news">
                    <i class="icon ion-chatbox"></i>
                    {{ 'LABEL.NEWS' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/map">
                    <i class="icon ion-map"></i>
                    {{ 'LABEL.MAP' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/welcome">
                    <i class="icon ion-home"></i>
                    {{ 'LABEL.WELCOME' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close  class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/tutorial">
                    <i class="icon ion-university"></i>
                    {{ 'LABEL.TUTORIAL' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item menu-close class="item-icon-left item-icon-right" type="item-text-wrap" href="#/menu/contact">
                    <i class="icon ion-person"></i>
                    {{ 'LABEL.CONTACT' | translate }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <!-- SETTINGS -->
                <ion-item class="item item-divider">
                    {{ 'LABEL.SETTINGS' | translate }}
                </ion-item>

                <ion-item class="item-select" type="item-text-wrap">
                    <i class=""></i>
                    {{ 'LABEL.LANGUAGE' | translate }}
                    <span class="item-note">
                        <select ng-model="menu.settings.language" ng-change="menu.onLanguageChange()" selected="menu.settings.language">
                            <option>DE</option>
                            <option>EN</option>
                            <option>FR</option>
                            <option>IT</option>
                        </select>
                    </span>
                </ion-item>

                <ion-toggle ng-model="menu.settings.vibration" ng-change="menu.saveSettings()" 
                    toggle-class="toggle-calm">{{ 'LABEL.VIBRATION' | translate }}</ion-toggle>

                <ion-toggle ng-model="menu.settings.zooming" ng-change="menu.saveSettings()" 
                    toggle-class="toggle-calm">{{ 'LABEL.ZOOM' | translate }}</ion-toggle>
                
                <ion-toggle ng-model="menu.settings.music" ng-change="menu.saveSettings()" 
                    toggle-class="toggle-calm">{{ 'LABEL.MUSIC' | translate }}</ion-toggle>   
          

    <!--             <ion-item type="item-text-wrap" class="item item-toggle">
                    {{ 'LABEL.VIBRATION' | translate }}
                    <label class="toggle">
                        <input type="checkbox" ng-model="menu.settings.vibration" ng-checked="menu.settings.vibration" ng-change="menu.saveSettings()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item> -->

<!--                 <ion-item type="item-text-wrap" class="item item-toggle">
                    {{ 'LABEL.ZOOM' | translate }}
                    <label class="toggle">
                        <input type="checkbox" ng-model="menu.settings.zooming" ng-checked="menu.settings.zooming" ng-change="menu.saveSettings()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>

                <ion-item type="item-text-wrap" class="item item-toggle">
                    {{ 'LABEL.MUSIC' | translate }}
                    <label class="toggle">
                        <input type="checkbox" ng-model="menu.settings.music" ng-checked="menu.settings.music" ng-change="menu.saveSettings()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item> -->


            </ion-list>
        </ion-content>
    </ion-side-menu>


    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

</ion-side-menus>



