<ion-view view-title="{{ 'LABEL.MENU' | translate }}">
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-content>
        <ion-list>

            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/scan">
                <i class="icon ion-qr-scanner"></i>
                {{ 'LABEL.SCAN' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/history">
                <i class="icon ion-clock"></i>
                {{ 'LABEL.HISTORY' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/news">
                <i class="icon ion-chatbox"></i>
                {{ 'LABEL.NEWS' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/welcome">
                <i class="icon ion-home"></i>
                {{ 'LABEL.WELCOME' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/tutorial">
                <i class="icon ion-university"></i>
                {{ 'LABEL.TUTORIAL' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-left item-icon-right" type="item-text-wrap" href="#/contact">
                <i class="icon ion-person"></i>
                {{ 'LABEL.CONTACT' | translate }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- SETTINGS -->
            <ion-item class="item item-divider">
                {{ 'LABEL.SETTINGS' | translate }}
            </ion-item>

            <ion-item class="item-select" type="item-text-wrap">
                <i class=""></i>
                {{ 'LABEL.LANGUAGE' | translate }}
                <span class="item-note">
                    <select ng-model="menu.language" ng-change="menu.onLanguageChange()">
                        <option>DE</option>
                        <option>EN</option>
                        <option>FR</option>
                    </select>
                </span>
            </ion-item>
<!--
            <ion-item class="item-select" type="item-text-wrap">
                <i class=""></i>
                {{ 'LABEL.FONTSIZE' | translate }}
                <span class="item-note">
                    <select>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                    </select>
                </span>
            </ion-item>
-->

        </ion-list>
    </ion-content>
</ion-view>
