<ion-modal-view class="preview-modal">
    <ion-header-bar class="bar-dark">

      <h1 class="title">{{'LABEL.PREVIEW'|translate}}</h1>
			
			<div class="buttons">
				<button class="button button-clear button-stable" ng-click="detail.closeModal()">
					<i class="ion-close-round"></i>
			  	<b>{{'LABEL.CLOSE'|translate}}</b>
				</button>
			</div>

    </ion-header-bar>
    <ion-content>
		
		<ion-slide-box on-slide-changed="detail.slideHasChanged($index)">
          <ion-slide>
            <div class="preview-image">
                <img class="box" src="img/init.png" alt="">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="preview-image">
                <img class="box" src="img/welcome.jpg" alt="">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="preview-image">
                <img class="box" src="img/init.png" alt="">
            </div>
          </ion-slide>
        </div>
        </ion-slide-box>

    </ion-content>
  </ion-modal-view>