<ion-view view-title="">

    <ion-content delegate-handle="scrollMain">

        <kms-spinner ng-hide="newsPage.isReady()"></kms-spinner>

        <a class="item item-list-newsPage newsPage-image-slider" ng-if="newsPage.isReady() && newsPage.doc.image.length > 1">
            <ion-scroll direction="x">
                <kms-image ng-repeat="image in newsPage.doc.image" image-id="image" ng-click="newsPage.showImages($index)" class="image-list-thumb">
                </kms-image>
            </ion-scroll>
        </a>

        <div class="newsPage-single-image">
            <kms-image image-id="newsPage.doc.image[0]" class="image-list-thumb" ng-if="newsPage.isReady() && newsPage.doc.image.length === 1"
                       ng-click="newsPage.showImages($index)"></kms-image>
        </div>

        <div class="padding" ng-if="newsPage.isReady()">
            <h3>{{newsPage.doc.title}}</h3>


        </div>

    </ion-content>

</ion-view>