<ion-view view-title="{{ 'LABEL.NOT_FOUND' | translate }}">
    <ion-content class="padding">

        <kms-info-card message="MESSAGE.NOT_FOUND">
            <a href="#/menu/scan" class="button button-large button-positive icon-left ion-qr-scanner">
                {{'LABEL.SCAN' | translate}}
            </a>
        </kms-info-card>
        0
        <!--<h3 style="text-align: center; margin-top: 2em;">-->
            <!--<i class="ion-sad-outline big-icon"></i>-->
            <!--<br/><br/>-->
            <!--{{ 'MESSAGE.NOT_FOUND' | translate }}-->
        <!--</h3>-->

    </ion-content>
    <ion-footer-bar class="footer-button">
        <kms-scan-button></kms-scan-button>
    </ion-footer-bar>
</ion-view>
