<ion-view view-title="{{ 'LABEL.SCAN' | translate }}">
    <ion-content>

        <kms-spinner ng-hide="scan.isReady()"></kms-spinner>

        <h3 style="text-align: center; margin-top: 2em;" ng-show="scan.isReady()">
            <i class="ion-qr-scanner big-icon"></i>
            <br/>
            <span ng-if="!scan.isBarcodeScannerReady">
                <form >
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="text" placeholder="QR-Code" ng-model="scan.barcodeText">
                        </label>
                        <button class="button button-small" ng-click="scan.submit()">
                            {{ 'LABEL.SUBMIT_BUTTON' | translate }}
                        </button>
                    </div>
                </form>

                <button class="button button-block button-royal" ng-click="scan.destroy()">
                  destroy
                </button>
            </span>
            <span ng-if="!(scan.format || scan.cancel || !scan.isBarcodeScannerReady)">{{ 'MESSAGE.SCAN' | translate }}</span>
            <span ng-if="scan.format">{{ 'MESSAGE.SCAN_WRONG_FORMAT' | translate }}</span>
            <span ng-if="scan.cancel">{{ 'MESSAGE.SCAN_CANCELLED' | translate }}</span>
        </h3>
    </ion-content>
    <ion-footer-bar class="footer-button" ng-show="scan.isReady() && scan.isBarcodeScannerReady">
        <button class="button button-full button-positive ion-qr-scanner" on-tap="scan.scan()">
            {{ 'LABEL.SCAN' | translate }}
        </button>
    </ion-footer-bar>
</ion-view>
