<ion-view view-title="{{'LABEL.TUTORIAL' | translate}}">
    <!-- <ion-nav-bar class="bar-positive">

    </ion-nav-bar> /-->
    <ion-content class="padding tutorial-content" >

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="welcome"><h1>{{'LABEL.WELCOME' | translate}}</h1>
                    <p>{{ 'LABEL.LANGUAGE' | translate }}</p>
                    <ion-radio ng-model="tutorial.language" ng-value="'DE'" ng-change="tutorial.onLanguageChange()" >
                        <img src="./img/de.png" alt="flag_DE" width="15%">DE</ion-radio>
                    <ion-radio ng-model="tutorial.language" ng-value="'EN'" ng-change="tutorial.onLanguageChange()">
                        <img src="./img/gb.png" alt="flag_EN" width="15%">GB</ion-radio>
                    <ion-radio ng-model="tutorial.language" ng-value="'FR'" ng-change="tutorial.onLanguageChange()">
                        <img src="./img/fr.png" alt="flag_FR" width="15%">FR</ion-radio>
                    <br>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="Tutorial page one"><h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1>PINK</h1></div>
            </ion-slide>

        </ion-slide-box>


</ion-content>
</ion-view>