<ion-view view-title="{{'LABEL.TUTORIAL' | translate}}">
    <!-- <ion-nav-bar class="bar-positive">

    </ion-nav-bar> /-->
    <ion-content class="padding tutorial-content" >

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="welcome"><h1>{{'LABEL.WELCOME' | translate}}</h1>
                    <p>{{ 'LABEL.LANGUAGE' | translate }}</p>
                    <ion-radio ng-model="tutorial.language" ng-value="'DE'" ng-change="tutorial.onLanguageChange()">Deutsch</ion-radio>
                    <ion-radio ng-model="tutorial.language" ng-value="'EN'" ng-change="tutorial.onLanguageChange()">English</ion-radio>
                    <ion-radio ng-model="tutorial.language" ng-value="'FR'" ng-change="tutorial.onLanguageChange()">Fran&ccedil;ais</ion-radio>
                    <ion-radio ng-model="tutorial.language" ng-value="'IT'" ng-change="tutorial.onLanguageChange()">Italiano</ion-radio>

                    <br>

                    <a class="button" ui-sref="menu.welcome">Tutorial überspringen</a> 






                </div>

            </ion-slide>
            <ion-slide>
                <div class="Tutorial page one"><h1>YELLOW</h1></div>

                <br>

                <a class="button" ui-sref="menu.welcome">Tutorial überspringen</a>

            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1>PINK</h1></div>

                <br>

                <a class="button" ui-sref="menu.welcome">Tutorial überspringen</a>
            </ion-slide>

        </ion-slide-box>


</ion-content>
</ion-view>