<ion-view view-title="{{welcome.page.title}}">

    <ion-content class="padding">

        <kms-spinner ng-hide="welcome.isReady()"></kms-spinner>

        <div class="row responsive-sm" ng-if="welcome.isReady()">

            <kms-image image-id="welcome.page.image[0]" width="100%"></kms-image>
            <br>
            <p>{{welcome.page.content}}</p>

        </div>

    </ion-content>
    <ion-footer-bar class="footer-button">
        <kms-scan-button></kms-scan-button>
    </ion-footer-bar>

</ion-view>